* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.gradient-body {
  display: grid;
  min-height: calc(100vh - 70px);
  width: 100%;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.prev,
.next {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.282);
  border: none;
  transition: all 0.3s ease-in;
}
.prev:hover,
.next:hover {
  background-color: rgb(212, 198, 198);
  cursor: pointer;
}

@media (max-width: 900px) {
  .gradient-body {
    min-height: calc(100vh - 140px);
  }
}
